h1 {
    text-align: center;
}

a {
    color: brown;
    padding: 8px;
}

.nav {
    background-color: cornflowerblue;
}

button {
    color: white;
    background-color: black;
    border-radius: 6px;
}

body {
    background-color: bisque;
}